header, html, body{
	margin: 0;
	padding: 0;

}

header{
	background: url(img/1.jpg);
	width: 100%;
	height: 2000px;
}


.tport h2{
	padding: 10px 50px;
}

.tport p{
	padding: 10px 50px;
}
.myjob{
	height: auto;
	width: 33%;
	margin: 0.15%;
	float: left;
}
img{
	height: 100%;
	width: 100%;
}
