header, html, body{
	margin: 0;
	padding: 0;

}

header{
	width: 100%;
	height: 1080px;

}

img{
	width: 100%;
}

.header>p{
	position: absolute;
	margin-top: -50%;	
	margin-left: 50%;
	font-family: 'Russo One', sans-serif;
	font-size: 72px;
	color: #333;
}
.tt{

}

.tport h2{
	padding: 10px 50px;
}

.tport p{
	padding: 10px 50px;
}
.myjob{
	height: auto;
	width: 33%;
	margin: 0.15%;
	float: left;
}
img{
	height: 100%;
	width: 100%;
}
